* {
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    --color-main-type-1: #81D1DF;
    --color-main-type-3: #ECFCFF;
    --color-main-type-4: #57919B;
    --color-gray-type-1: #D0D0D0;
    --color-gray-type-2: #828282;
    --width-main-container: 1250px;
}
body {
    background-color: #F4F5F5;
}
@font-face {
    font-family: 'OpenSansBold';
    src: url(./fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: 'OpenSansRegular';
    src: url(./fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: 'OpenSansSemiBold';
    src: url('./fonts/OpenSans-SemiBold.ttf');
}
@font-face {
    font-family: 'OpenSansExtraBold';
    src: url('./fonts/OpenSans-ExtraBold.ttf');
}